html,
body {
  @apply h-full overflow-x-hidden overscroll-none;
  font-family: VazirFA;
  font-weight: 300;
}

body {
  text-rendering: optimizeSpeed;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  @apply select-none;
}

html.dark {
  color-scheme: dark;
}

html.light {
  color-scheme: light;
}

body {
  @apply bg-light-surface dark:bg-dark-surface text-light-surface-text dark:text-dark-surface-text;
}

img {
  -webkit-user-drag: none;
  @apply select-none;
}

.nodrag {
  -webkit-user-drag: none;
}

input[type='password'] {
  font-family: sans-serif;
}

.hide-border-t-notempty:not(:placeholder-shown) {
  @apply border-t-transparent;
}

* {
  -webkit-tap-highlight-color: transparent;
}

html.theme-transition * {
  transition: all linear 0.01s !important;
}
