@layer base {
  html {
    font-family: VazirFA, system-ui, sans-serif;
    font-weight: 300;
    text-rendering: optimizeSpeed;
    -webkit-font-smoothing: antialiased;
    font-size: 18px;
  }

  html.dark {
    color-scheme: dark;
  }

  html.light {
    color-scheme: light;
  }

  html.inspect {
    font-size: 1.9vh;
  }

  html.admin {
    font-size: max(18px, 1vw);
  }

  html,
  body {
    @apply h-full overflow-x-hidden overscroll-none;
  }

  body {
    @apply bg-light text-light-text dark:bg-dark dark:text-dark-text;
  }

  img {
    -webkit-user-drag: none;
    @apply select-none;
  }

  .drag-none {
    -webkit-user-drag: none;
  }

  input[type='password'] {
    font-family: sans-serif;
  }

  * {
    -webkit-tap-highlight-color: transparent;
  }

  html.theme-transition * {
    transition: all linear 0.01s !important;
  }

  .hide-border-t-notempty:not(:placeholder-shown) {
    @apply border-t-transparent;
  }

  ::view-transition-old(root),
  ::view-transition-new(root) {
    animation: none;
  }
}
